.previewLayout {
    display: grid;
    gap: var(--spacing-xl);
    grid-template-columns: 1fr;

    @media (width >= 48em) {
        /* min sm width */
        grid-template-columns: 1fr 1fr;
    }
}
